.youtubeplayer{
    position: relative;
    width: 100%;
    height: 126%;
    margin-top: -5%;
    top: 0;
    bottom: 0;
    pointer-events: none;
    filter: brightness(0.8);
    
    opacity:0;
    transition: opacity 1s ease-in-out;
    
}